In [2]:
import pandas as pd

Importing the databases that we need

In [93]:
# loading in statistics for college players from 2009 to 2021
college_stats = pd.read_csv('CollegeBasketballPlayers2009-2021.csv')

# removing college players that were not drafted, i.e. have no draft pick number
college_stats = college_stats[college_stats['pick'].notna()]

# dropping all the coloumns that are not going to be used in estimation
college_stats = college_stats[['player_name', 'pick', 'GP', 'Min_per', 'pts', 'oreb', 'dreb', 'ast', 'blk', 'stl', 'FTM', 'FT_per', 'TPM', 'TP_per', 'TS_per', 'TO_per', 'ast/tov', 'Ortg', 'drtg']]

# loading in career stats for NBA - ends with the 2021 nba season
# WS from 2021-2022 and 2022-2023 season not included
nba_stats = pd.read_csv('draft-data-20-years.csv')

# removing all columns except win share which is our target
nba_stats = nba_stats[['Player', 'WS']]

# joining college stats on player Name to add target of WS
college_stats = college_stats.merge(nba_stats, left_on='player_name', right_on='Player')
college_stats = college_stats.drop(columns=['Player'])

# sorting df by draft pick for easier visualiztion and validation
data = college_stats.sort_values(by='pick')

# making sure we have a WS for every player in our data set, remove those who don't 
data = data[data['WS'].notna()]

data # total 1244 players to work with

<ipython-input-93-e8550a84e44f>:2: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  college_stats = pd.read_csv('CollegeBasketballPlayers2009-2021.csv')

,player_name,pick,GP,Min_per,pts,oreb,dreb,ast,blk,stl,FTM,FT_per,TPM,TP_per,TS_per,TO_per,ast/tov,Ortg,drtg,WS
666,Anthony Bennett,1.0,34,67.8,15.7941,2.3824,5.5882,0.9118,1.1765,0.7059,117,0.696,36,0.383,60.36,15.3,0.492093,112.8,89.4038,0.5
1002,Ben Simmons,1.0,33,86.5,19.1515,3.1212,8.6364,4.7879,0.8182,1.9697,199,0.670,1,0.333,59.95,18.6,1.423445,112.9,97.3738,30.4
1139,Deandre Ayton,1.0,35,82.5,20.1143,3.3714,8.2000,1.6286,1.8857,0.5714,140,0.733,12,0.343,64.98,13.1,0.826113,126.7,97.4640,22.1
1323,Anthony Edwards,1.0,31,81.3,19.0625,0.7500,4.4688,2.8438,0.5625,1.3438,127,0.770,69,0.291,51.73,15.4,1.045976,103.0,102.7740,3.9
802,Andrew Wiggins,1.0,35,81.4,17.0571,2.1714,3.6857,1.5429,0.9714,1.1714,176,0.775,43,0.341,56.34,15.9,0.675023,112.3,101.7120,23.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
732,Tyrone Wallace,60.0,28,65.5,15.2500,0.9643,4.3214,4.3929,0.4286,0.9643,100,0.649,25,0.298,51.43,17.3,1.662151,104.0,97.7535,0.2
404,Cory Jefferson,60.0,36,72.3,13.5556,2.7778,5.3611,1.0000,1.2778,0.3611,128,0.646,14,0.378,54.95,12.5,0.719994,114.3,102.4110,0.9
1100,Sam Merrill,60.0,30,66.5,9.3548,0.3871,2.6774,3.1290,0.1613,0.9677,36,0.878,46,0.451,58.39,12.3,3.129000,118.5,103.9520,0.5
1101,Sam Merrill,60.0,33,88.5,16.3235,0.2059,3.0588,3.1471,0.2059,1.0294,70,0.843,95,0.459,65.27,15.0,1.725857,121.6,107.2080,0.5
729,Tyrone Wallace,60.0,33,70.3,7.1818,1.1515,3.2727,2.6364,0.4848,0.7879,39,0.534,22,0.224,40.63,18.6,1.553565,86.9,97.9134,0.2

Cleaning the Data

In [96]:
# filling in means for NaN values in stats
# not many NaN values, because we are taking drafted (i.e. high value players, which typically have complete statistics)

# we do not do this for picks over WS cause we already filter out NaN values for them
data.GP = data.GP.fillna(data.GP.mean())
data.Min_per = data.Min_per.fillna(data.Min_per.mean())
data.pts = data.pts.fillna(data.pts.mean())
data.oreb = data.oreb.fillna(data.oreb.mean())
data.dreb = data.dreb.fillna(data.dreb.mean())
data.ast = data.ast.fillna(data.ast.mean())
data.blk = data.blk.fillna(data.blk.mean())
data.stl = data.stl.fillna(data.stl.mean())
data.FTM = data.FTM.fillna(data.FTM.mean())
data.FT_per = data.FT_per.fillna(data.FT_per.mean())
data.TPM = data.TPM.fillna(data.TPM.mean())
data.TP_per = data.TP_per.fillna(data.TP_per.mean())
data.TS_per = data.TS_per.fillna(data.TS_per.mean())
data.TO_per = data.TO_per.fillna(data.TO_per.mean())
data['ast/tov'] = data['ast/tov'].fillna(data['ast/tov'].mean())
data.Ortg = data.Ortg.fillna(data.Ortg.mean())
data.drtg = data.drtg.fillna(data.drtg.mean())

data # cleaned data

,player_name,pick,GP,Min_per,pts,oreb,dreb,ast,blk,stl,FTM,FT_per,TPM,TP_per,TS_per,TO_per,ast/tov,Ortg,drtg,WS
666,Anthony Bennett,1.0,34,67.8,15.7941,2.3824,5.5882,0.9118,1.1765,0.7059,117,0.696,36,0.383,60.36,15.3,0.492093,112.8,89.4038,0.5
1002,Ben Simmons,1.0,33,86.5,19.1515,3.1212,8.6364,4.7879,0.8182,1.9697,199,0.670,1,0.333,59.95,18.6,1.423445,112.9,97.3738,30.4
1139,Deandre Ayton,1.0,35,82.5,20.1143,3.3714,8.2000,1.6286,1.8857,0.5714,140,0.733,12,0.343,64.98,13.1,0.826113,126.7,97.4640,22.1
1323,Anthony Edwards,1.0,31,81.3,19.0625,0.7500,4.4688,2.8438,0.5625,1.3438,127,0.770,69,0.291,51.73,15.4,1.045976,103.0,102.7740,3.9
802,Andrew Wiggins,1.0,35,81.4,17.0571,2.1714,3.6857,1.5429,0.9714,1.1714,176,0.775,43,0.341,56.34,15.9,0.675023,112.3,101.7120,23.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
732,Tyrone Wallace,60.0,28,65.5,15.2500,0.9643,4.3214,4.3929,0.4286,0.9643,100,0.649,25,0.298,51.43,17.3,1.662151,104.0,97.7535,0.2
404,Cory Jefferson,60.0,36,72.3,13.5556,2.7778,5.3611,1.0000,1.2778,0.3611,128,0.646,14,0.378,54.95,12.5,0.719994,114.3,102.4110,0.9
1100,Sam Merrill,60.0,30,66.5,9.3548,0.3871,2.6774,3.1290,0.1613,0.9677,36,0.878,46,0.451,58.39,12.3,3.129000,118.5,103.9520,0.5
1101,Sam Merrill,60.0,33,88.5,16.3235,0.2059,3.0588,3.1471,0.2059,1.0294,70,0.843,95,0.459,65.27,15.0,1.725857,121.6,107.2080,0.5
729,Tyrone Wallace,60.0,33,70.3,7.1818,1.1515,3.2727,2.6364,0.4848,0.7879,39,0.534,22,0.224,40.63,18.6,1.553565,86.9,97.9134,0.2